.div {
    display: flex;
    margin-bottom: 10px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.textArea {
    resize: vertical;
    background-color: rgb(36, 36, 36);
    border: 2px solid white;
    border-radius: 10px;
    height: 50vh;
    width: 100%;
    padding: 5px;
    margin: 0 20px;
    color: white;
}

.textArea:focus {
    outline: 2px solid white;
}