.div {
    display: flex;
    margin-bottom: 10px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.textArea {
    resize: vertical;
    background-color: rgb(36, 36, 36);
    border: 2px solid white;
    border-radius: 10px;
    height: 50vh;
    width: 100%;
    padding: 5px;
    margin: 0 20px;
    color: white;
}

.textArea:focus {
    outline: 2px solid white;
}

.buttonDiv {
    display: flex;
    justify-content: end;
    min-height: 80px;
}

.button {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    min-width: 80px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.cancelButton {
    background-color: red;
}

.postTitle {
    display: inline-block;
    margin-top: 50px;
    font-size: 2rem;
}

.selectDiv > * {
    display: inline;
}

.category {
    font-size: 1.3rem;
    margin-right: 10px;
}

.inputTitle {
    font-size: 1.2rem;
    height: 2rem;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0;

}