p {
    margin: 0;
}

.item {
    display: flex;
    height: 55px;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.item > div {
    align-items: center;
}

.left {
    display: flex;
    width: 50%;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.title {
    font-size: 1.5em;
}

.description {
    font-size: 1em;
    font-weight: unset;
    margin: 0;
}

.right {
    display: flex;
    height: inherit;
}

.group {
    border-left: 3px solid;
    border-right: 3px solid;
    display: flex;
    width: 40%;
    height: inherit;
    padding-left: 5px;
    padding-right: 10px;

}

.square {
    margin-left: 5px;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.square > p {
    color: rgb(60,60,60);
}

.amount {
    font-size: 1.5em;
    margin-bottom: -0.3em;
}

.squareTitle {
    font-size: 0.8em;
}

.lastPost {
    padding-left: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-bottom: -2px;
}

.poster {
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
}

.replyTimestamp {
    font-size: 0.7em;
}

.postText {
    font-size: 0.8em;
}