p {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.item {
    display: flex;
    height: 55px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item > div {
    align-items: center;
}

.left {
    display: flex;
    width: 50%;
    height: 100%;
}

.icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.titleNDesc {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: 1.3em;
    display: -webkit-box;
    width: 550px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9em;
    font-weight: unset;
    margin: 0;
}

.right {
    display: flex;
    height: inherit;
}

.group {
    padding: 0 5px;
    border-right: 2px solid;
    border-left: 2px solid;
    display: flex;
    height: inherit;
}

.square {
    margin: 0 5px;
    text-align: center;
    background-color: lightgray;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.square > p {
    color: rgb(60,60,60);
}

.amount {
    font-size: 1.5em;
    margin-bottom: -0.3em;
}

.squareTitle {
    font-size: 0.8em;
}

.lastPost {
    padding-left: 10px;
    display: -webkit-box;
    width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.postTop {
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-bottom: -2px;
}

.poster {
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
}

.replyTimestamp {
    font-size: 0.7em;
}

.postText {
    font-size: 0.8em;
}